<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TODOLIST</title>
<link rel="stylesheet" href="../static/css/todolist.css">
<script src="https://kit.fontawesome.com/0b12288ea4.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="toDoTemplateBlock">
		<div class="memberBtns">
			<div class="memberBtn">회원정보수정</div>
			<div class="memberBtn">로그아웃</div>
		</div>
		<div class="toDoHeadBlock">
			<h1>${dateString}</h1>
			<div class="toDoHeadBlock-day">${dayName}</div>
			<div class="toDoHeadBlock-tasks-left">할 일 ${isUndoneCount}개 남음</div>
		</div>
		<div class="toDoListBlock">
			<div class="toDoItemUpdateBlock">
				<div class="toDoItemBlock">
					<div class="toDoItemBlock-checkCircle"><i class="fa-solid fa-check"></i></div>
					<div class="toDoItemBlock-text">프로젝트 생성하기</div>
					<div class="toDoItemBlock-modify"><i class="fa-solid fa-pen-to-square"></i></div>
					<div class="toDoItemBlock-remove"><i class="fa-solid fa-trash-can"></i></div>
				</div>
				<div class="toDoUpdateBlock">
					<div class="toDoUpdateBlock-checkCircle"><i class="fa-solid fa-check"></i></div>
					<input class="toDoUpdateBlock-input" type="text"/>
					<div class="toDoUpdateBlock-update"><i class="fa-solid fa-file-pen"></i></div>
					<div class="toDoUpdateBlock-cancel"><i class="fa-solid fa-xmark"></i></div>
				</div>
			</div>
			<div class="toDoInsertBlock">
				<input class="toDoInsertBlock-input" type="text"/>
				<div class="toDoInsertBlock-insert"><i class="fa-solid fa-file-pen"></i></div>
				<div class="toDoInsertBlock-cancel"><i class="fa-solid fa-xmark"></i></div>
			</div>
			<div class="toDoPlusBlock">
				<div class="toDoPlus"><i class="fa-solid fa-plus"></i></div>
			</div>
		</div>
	</div>
	
	<script src="../static/js/auth/principal.js"></script>
	<script src="../static/js/todolist.js"></script>
</body>
</html>