<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TODOLIST-로그인</title>
<link rel="stylesheet" href="../static/css/auth/signin.css">
</head>
<body>
	<div class="toDoTemplateBlock">
		<div class="titleBlock">TODOLIST</div>
		<div class="signin-content">
			<div><Strong>로그인</Strong></div>
			<form action="/auth/signin" method="post"> <!-- SecurityConfig.java에 post요청 존재 -->
				<input type="text" name="username" placeholder="아이디"><br>
				<input type="password" name="password" placeholder="패스워드"><br>
				<div class="loginOrJoin">
					<button>로그인</button>
					<button type="button" onclick="location.href='/auth/signup'">회원가입</button>
				</div>
			</form>
			<div class="oauth2Login">
				<button type="button" class="btn_google" onclick="location.href='/oauth2/authorization/google'"><img src="../static/images/signin/google.png" alt="">구글 로그인</button>
				<button type="button" class="btn_naver" onclick="location.href='/oauth2/authorization/naver'"><img src="../static/images/signin/naver.jpeg" alt="">네이버 로그인</button>
			</div>
		</div>
	</div>
	
</body>
</html>